<div id="nav" class="nav">
  <div class="icon">
    <ul>
      <li><a title="Dashboard" href="#"><i class="fa fa-tachometer wow bounceInDown"></i></a></li>
      <% if user_signed_in? %>
      <li><a href="#"><i class="fa fa-edit wow bounceInDown"></i></a></li>
        <li><a href="#"><i class="fa fa-edit wow bounceInDown"></i></a></li>
        <li><a href="#"><i class="fa fa-plus wow bounceInDown"></i></a></li>
        <li><a href="#"><i class="fa fa-cogs wow bounceInDown"></i></a></li>
        <li><a href="#"><i class="fa fa-sign-out wow bounceInDown"></i></a></li>
      <% else %>
        <li><a href="#"><i class="fa fa-sign-in wow bounceInDown"></i></a></li>
        <li><a href="#"><i class="fa fa-user-plus wow bounceInDown"></i></a></li>
      <% end %>
    </ul>
  </div>
  <div class="text">
    <ul>
      <li><a title="Home" href="/">Dashboard</a></li>
      <li>
        <%= link_to 'Play', plays_path %>
      </li>
      <% if user_signed_in? %>
      <!-- Single button -->
          <li class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle nav-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categories <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
            <% Category.all.each do |category| %>
              <li class="<%= 'active' if params[:category] == category.name %>"></li>
              <li><%= link_to category.name, plays_path(category: category.name) %></li>
            <% end %>
            </ul>
          </li>
        <li>
          <%= link_to 'Add Play', new_play_path %>
        </li>
        <li>
          <%= link_to 'Settings', edit_user_registration_path %>
        </li>
        <li>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to 'Sign In', new_user_session_path %>
        </li>
        <li>
          <%= link_to 'Sign Up', new_user_registration_path %>
        </li>
    <% end %>
    </ul>
  </div>
  <div class="info">
    <div class="logo"><p><%= image_tag("ninja.png") %></p></div>
    <div class="name">Coding Ninja</div>
    <div class="quote">WHAT WE DO IS WHO WE ARE</div>
    <div class="social">
      <a target="_blank" href="https://github.com/cwilliams3579"><i class="fa fa-github" id="github"></i></a>
    </div>
  </div>
</div>
